@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

.main_cotainer {
  background: #c9c9c9;
  min-height: 100vh;
}

.header_coontainer {
  height: 80px;
  background: rgb(235, 235, 235);
  margin-bottom: 50px;
  padding-left: 80px;
  padding-top: 10px;
  font-family: "Festive", cursive;
}

.header_coontainer h1 {
  font-size: 50px;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: rgb(255, 209, 3);
  font-weight: bolder;
}

/* Section 1, 2, 3 */

.section_conainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: translate(5%, 20%);
  height: 520px;
  width: 90%;
  margin-bottom: 200px;
  background: white;
  box-shadow: 5px 5px 20px grey;
}

.section_conainer img {
  height: 550px;
  width: 75%;
  transform: translate(15%, -12%);
  box-shadow: 10px 10px 20px grey;
}

.section_description {
  margin-top: 50px;
}

.section_description h2 {
  color: #c9c9c9;
  font-size: 35px;
  margin-bottom: 30px;
}

.section_description_main h1 {
  font-family: cursive;
  font-size: 35px;
  margin-bottom: 10px;
  color: black;
}

.section_description_main h2 {
  color: rgb(255, 209, 3);
  margin-bottom: 10px;
  text-decoration: underline;
  letter-spacing: 1px;
}

.section_details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section_details p {
  margin-top: 6px;
}

/* section 4 */

.section4_container {
  position: relative;
  width: 60%;
  background-color: white;
  margin: auto;
  box-shadow: 10px 10px 20px grey;
  margin-bottom: -50px;
  padding-top: 15px;
}

.section4_container h1 {
  color: rgb(255, 209, 3);
  text-align: center;
  margin-bottom: 20px;
}

.connect_details {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.hr_line {
  background-color: black;
  width: 1px;
  height: 100px;
}

.connect_location,
.connect_phone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

/* Footer  */

.footer_main {
  height: 100px;
  background: black;
}

.footer_yellow {
  height: 150px;
  background: rgb(255, 209, 3);
}

.section_footer h3 {
  color: white;
  text-align: center;
  line-height: 100px;
}
