.main-container {
  max-width: 500px;
  height: auto;
  position: relative;
  margin: auto;
}

.section-1,
.section-5 {
  max-width: 500px;
  position: relative;
}

.section-1 img,
.section-5 img {
  width: 100%;
}

.section-2 {
  position: relative;
  margin-top: -30px;
  background: white;
  border-radius: 20px 20px 0 0;
}

.section-2 h1 {
  padding: 5px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
}

.basic-details-1 {
  display: flex;
  max-width: 450px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.basic-details-1 {
  text-align: center;
  font-size: 12px;
  color: rgb(156, 156, 156);
}

.basic-details-1 h4 {
  color: black;
  font-size: 18px;
}

.section-3 {
  position: relative;
  margin-top: 15px;
}

.about-me {
  text-align: justify;
  max-width: 75%;
  margin: auto;
}

.expectations {
  text-align: justify;
  width: 80%;
  margin: auto;
}

.common-detail-header {
  margin-top: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.common-detail-header h1 {
  font-size: 1.2em;
}

.basic-details-common {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.section-4 {
  margin-top: 20px;
  padding-top: 1px;
  padding-bottom: 15px;
  background: linear-gradient(95.49deg, #e291fa -36.87%, #d353f9 98.63%);
  border-radius: 20px 20px 0 0;
}

.section-4 h1,
.section-4 p {
  color: white;
}

.location-details {
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .basic-details-common {
    grid-template-columns: 1fr 1fr;
  }
}
